<div>
    <h1 [ngStyle]="{'color': 'green'}">
        Kurzanleitung
    </h1>


    <h1 [ngStyle]="{'color': 'green'}">
        
    </h1>

    <h5 [ngStyle]="{'color': 'black', 'margin-top': '4px'}"> 
        LernKomponente.
        Die LearnComponent-Komponente stellt die Lernphase dar. Sie ermöglicht den Benutzern, 
        Fragen und Antworten in verschiedenen Kategorien zu erkunden. 
        Sie bietet Interaktion, um Antworten ein- und auszublenden. 
    </h5> 
        <br>
    <h5> 
        CheckKomponente.
        Die CheckComponent-Komponente ist die Überprüfungsphase. 
        Die Benutzer können Fragen beantworten und erhalten sofort eine Rückmeldung über die Richtigkeit ihrer Antworten. 
        Sie ermöglicht es auch, durch die Fragen zu navigieren und den Fortschritt zu überwachen. 
        Bei 7 falschen Antworten wird das Programm beendet.
    </h5> 
        <br>
    <h5> 
        ExamComponent.
        Die ExamComponent-Komponente ist die Bewertungsphase. 
        Die Benutzer können Fragen beantworten und erhalten eine Endnote für die Richtigkeit ihrer Antworten. 
        Sie ermöglicht es auch, durch die Fragen zu navigieren und den Fortschritt zu überwachen.
    </h5> 
        <br>
    <h5>
        EinzelfrageKomponente.
        Die EinzelfrageComponent Komponente konzentriert sich auf einzelne Fragen. 
        Benutzer können bestimmte Fragen beantworten und verschiedene Navigationsoptionen nutzen, um auf vorherige und nächste Fragen zuzugreifen.
    </h5>


<div style="text-align: center;">
    <br>
    <button class="mi-boton" routerLink="/home">Startseite</button>
 
   </div>
   </div>